<div class="RegisterContainer">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3 class="text-center">Register Admin</h3>
      <form>
        <div class="mb-3">
          <label for="adminFullName" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="adminFullName" name="adminFullName">
        </div>
        <div class="mb-3">
          <label for="adminEmail" class="form-label">Email</label>
          <input type="email" class="form-control" id="adminEmail" name="adminEmail">
        </div>
        <div class="mb-3">
          <label for="adminPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="adminPassword" name="adminPassword">
        </div>
        <div class="mb-3">
          <label for="adminMobileNumber" class="form-label">Mobile Number</label>
          <input type="text" class="form-control" id="adminMobileNumber" name="adminMobileNumber">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</div>